asgiref==3.11.1
dj-database-url==3.1.0
Django==4.2.7
gunicorn==21.2.0
lxml==4.9.3
packaging==26.0
pdf2image==1.16.3
pillow==12.1.1
psycopg2-binary==2.9.11
PyMuPDF==1.24.1
PyMuPDFb==1.24.1
pypdf==3.17.1
python-docx==0.8.11
python-magic==0.4.27
reportlab==4.0.7
sqlparse==0.5.5
whitenoise==6.6.0
